﻿
@{
    ViewBag.Title = "Log On";
}

<h2>Log On</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true)


@using (Html.BeginForm("logon,account")) {
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.Label("Company Code")
            </div>
            <div class="editor-field">
                @Html.TextBox("CompanyCode")
            </div>

            
            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
