.themeDark {
    background-color: rgba(193, 198, 209, 0.1);
}

/*@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 200;
    src: url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/light-19f459c34d09478b.eot?#iefix") format("embedded-opentype"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/light-9fc38208684b7ad8.woff") format("woff"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/light-d39f348a02d9ab82.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 100;
    src: url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/thin-5901bfbe116f2037.eot?#iefix") format("embedded-opentype"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/thin-726fb99f463ae0e0.woff") format("woff"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/thin-26876a34164c2106.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    src: url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/bold-9d96eaa1686e08f6.eot?#iefix") format("embedded-opentype"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/bold-1d4f58210b72ab24.woff") format("woff"), url("https://apiary.a.ssl.fastly.net/assets/fonts/proxima-nova/bold-ca30825b153dbd40.ttf") format("truetype");
}*/

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("/App_Themes/CelloSkin/fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("/App_Themes/CelloSkin/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("/App_Themes/CelloSkin/fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/App_Themes/CelloSkin/fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

body {
    -moz-hyphens: auto;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 17px;
    min-width: 1020px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

body, input, textarea, button {
    /*font-family: 'Proxima Nova','Helvetica',sans-serif;*/
    font-family: "Open Sans",'Helvetica',sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#container {
    padding-top: 50px;
}
.themeDark header.fullSize {
    background: none repeat scroll 0 0 rgba(76, 82, 100, 0);
}
header.fullSize {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 rgba(250, 251, 252, 0);
    height: 80px;
    left: 0;
    min-width: 99%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

.themeDark .apiMenu {
    background: none repeat scroll 0 0 #4c5264;
}
.apiMenu .menuCell {
    -moz-box-flex: 1;
    box-sizing: border-box;
    flex: 1 0 auto;
    position: relative;
    vertical-align: top;
}
.apiMenu {
    background: none repeat scroll 0 0 #fafbfc;
    display: block;
    margin: 0 auto;
    min-width: 1020px;
    position: relative;
    text-shadow: none;
    width: 100%;
    z-index: 10000;
}
.apiMenu .menuRow {
    -moz-box-orient: horizontal;
    display: flex;
    flex-flow: row nowrap;
}

.apiMenu .apiLogo {
    width: 100%;
}
.apiMenu .apiLogo {
    -moz-box-flex: 1;
    display: inline-block;
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
}
.absFg {
    background-color: rgba(255, 255, 255, 0.01);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.apiMenu .apiLogo a {
    background: url("/content/images/techcello-logo.png") no-repeat scroll 22px center rgba(0, 0, 0, 0);
}
.apiMenu .apiNameCell:before, .apiMenu .apiNameCell.switcherWrap:before, .apiMenu .menuTeam:before, .apiMenu .apiMenuList.apiMenuIcons:before {
    background-color: rgba(225, 227, 232, 0.1);
    bottom: 20px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 20px;
    width: 1px;
}
.apiMenu .apiNameCell {
    -moz-box-flex: 1;
    flex: 0 1 auto;
    max-width: 500px;
    min-width: 150px;
}
.apiMenu .apiNameCell .apiSwitchName:before {
    background-color: rgba(225, 227, 232, 0.1);
    bottom: 20px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
}
.apiMenu .apiSwitcher {
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    vertical-align: top;
    width: 100%;
}
.apiMenu .apiLines {
    box-sizing: border-box;
    display: block;
    height: 80px;
    overflow: hidden;
    padding: 0 35px 0 30px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.apiMenu h1, .apiMenu p, .apiMenu ul, .apiMenu li, .apiMenu div, .apiMenu hgroup, .apiMenu a, .apiMenu span {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.themeDark .apiMenu .apiName {
    color: #fff;
    font-weight:300;
}
.apiMenu .apiName.oneLiner {
    line-height: 20px;
    padding-top: 30px;
}
.ellipsis {
    -moz-hyphens: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#documentationContainer {
    background-color: #fff;
    min-height: 380px;
    padding: 15px 0;
    position: relative;
    width: 100%;
}
#rightColumn {
    display: block;
    position: absolute;
    right: 30px;
    top: 17px;
    transform: translate3d(0px, 0px, 0px);
    width: 240px;
}
#container #rightColumn {
    right: 30px;
    width: 245px;
}
#container #rightColumn {
    bottom: 0;
    display: block;
    overflow-y: auto;
    padding-top: 17px;
    position: fixed;
    right: 20px;
    top: 81px;
    transform: translate3d(0px, 0px, 0px);
    width: 250px;
}
#rightColumn ul#toc {
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    margin: 0 0 10px;
    max-width: 240px;
    min-width: 220px;
    padding: 0;
}
#rightColumn ul#toc li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    color: #06f;
    display: block;
    margin: 0;
    padding: 0;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
}
#rightColumn ul#toc a {
    display: block;
    line-height: 2.3em;
    min-height: 2.3em;
    padding: 0 8px;
}
#rightColumn ul#toc a:hover {
    background-color: #fff;
    color: #036;
}
#rightColumn ul#toc li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#rightColumn ul#toc li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#rightColumn ul#toc li + li {
    border-top: medium none;
}

#endpoints {
    border-radius: 4px;
    padding: 0;
    width: 240px;
}

#endpoints ul, #endpoints p {
    margin: 0;
    padding: 0;
}
#endpoints p {
    color: #777;
    font-size: 100%;
    line-height: 125%;
    margin-bottom: 1.25em;
    margin-top: 5px;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-in-out;
}

#container #rightColumn p.title {
    margin: 0;
    padding: 10px 0 5px;
}

#endpoints p.title {
    padding-top: 17px;
}

#rightColumn p.title {
    color: #666;
    font-size: 85%;
    font-weight: bold;
    margin: 0 0 2px;
    padding-top: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
#endpoints input[type="text"] {
    -moz-hyphens: none;
    background-color: #ffffef;
    border: 1px dashed #bbb;
    border-radius: 4px;
    color: #039;
    font-family: 'Monaco',monospace;
    font-size: 85%;
    line-height: 135%;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 6px 8px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    width: 222px;
}

#container #leftColumn {
    margin-left: 20px;
}
#leftColumn {
    margin-left: 30px;
    margin-right: 300px;
    position: relative;
}

#apiHeadline {
    color: #333;
    font-size: 275%;
    font-weight: 200;
    line-height: 125%;
    margin-bottom: 12px;
    padding-right: 50px;
}
#leftColumn > div.details, section.resource > .details, hgroup.chapter > .details, #leftColumn .descriptionMethod {
    border-top: medium none;
    color: #333;
    font-size: 1em;
    line-height: 130%;
}
.chapterWrapper {
    background-color: #e9e9e9;
    border-radius: 4px;
    margin: 15px 0;
    padding: 10px;
}
.chapter {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.chapter h1 {
    color: #333;
    font-size: 2.3em;
    font-weight: 200;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
hgroup.chapter > div.details {
    padding-left: 0;
}
#leftColumn > div.details, section.resource > .details, hgroup.chapter > .details, #leftColumn .descriptionMethod {
    border-top: medium none;
    color: #333;
    font-size: 1em;
    line-height: 130%;
}
.chapter h1 + .details {
    font-size: 110%;
    margin-top: 15px;
}

hgroup.chapter + section.resource {
    margin-top: 19px;
}
section.resource {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    margin: 0;
}
section.resource:hover, section.resource.expanded {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
.resource + .resource {
    margin-top: 10px;
}
.chapterWrapper + .chapterWrapper {
    margin-top: 30px;
}
.details + .chapterWrapper {
    margin-top: 20px;
}
#documentationContainer .resource > hgroup {
    position: relative;
}
section.resource hgroup {
    cursor: pointer;
}
section.resource > .details {
    border-top: 1px solid #eee;
    padding: 10px;
}
section.resource .content {
    border-top: medium none;
    height: 0;
    overflow: hidden;
    position: relative;
    transition-duration: 0.1s;
    transition-property: height;
    transition-timing-function: ease-in-out;
}
section.resource.expanded .content {
    height: auto;
    width: 100%;
}

#documentationContainer .resource > hgroup h1 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
#documentationContainer .resource > hgroup h1, #documentationContainer .resource > hgroup h2 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
section.resource hgroup h1 {
    background-color: #999;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 85%;
    line-height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    width: 8em;
}
#documentationContainer .resource > hgroup h2 {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    padding: 0.5em 10em 0.6em 8em;
}
section.resource hgroup h2 {
    color: #06c;
    display: inline-block;
    font-family: 'Source Code Pro','Panic Sans',Monaco,monospace,sans-serif;
    font-size: 90%;
    font-weight: normal;
    margin-left: 6px;
    position: relative;
    top: 1px;
}

#documentationContainer .resource > hgroup h1 > span {
    left: 0;
    margin-top: -0.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

section.resource:hover hgroup h1.method-post, section.resource.expanded hgroup h1.method-post {
    background-color: #6fb728;
}
section.resource:hover hgroup h1.method-get, section.resource.expanded hgroup h1.method-get {
    background-color: #4699ff;
}
section.resource:hover hgroup h1.method-put, section.resource.expanded hgroup h1.method-put {
    background-color: #ffa646;
}
section.resource:hover hgroup h1.method-delete, section.resource.expanded hgroup h1.method-delete {
    background-color: #ff4668;
}
.resource .paramsTableWrap {
    margin: 0 auto;
    max-width: 800px;
}
.resource .paramsTable {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 10px;
}
.resource .paramsTable caption {
    font-weight: bold;
    padding-bottom: 0.5em;
}
.resource .paramsTable th, .resource .paramsTable td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 7px;
}