/* query builder related styles */
.moveicons
{
    height: 32px;
    width: 32px;
}

.fConditionRow
{
    clear: both;
    border: 1px solid #ccc;
    padding: 3px;
    color: #222;
    display: block;
    float: left;
}

.fCondition
{
    float: left;
    margin: 0 10px;
}

.fConjuction
{
    float: left;
    margin: 0 5px;
}

.fCondDelete
{
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    margin-left: 3px;
}

.entityDiv span,
.entityDiv label
{
    padding-left: 5px;
}

.entityDiv
{
    display: block;
    margin: 0 0 -1px;
    padding: 6px 6px;
    border-bottom: 1px solid #E5E5E5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}

#globalVariablesList
{
    width: 200px;
    margin-top: 12px;
}

#exprColsList td
{
    border: 1px solid #DDD;
}

.chart-wrapper
{
    display: block;
    padding: 0px;
    width: 95%;
    margin: 10px auto;
}

#chartTypesDiv .ui-tabs .ui-tabs-panel
{
    padding: 0em !important;
}

.ui-tabs div.w-content
{
    width: 90em;
}

.c-icon-chart-line
{
    background: transparent url('/Content/images/icon-chart-line.png') no-repeat;
}

.c-icon-chart-bar
{
    background: transparent url('/Content/images/icon-chart-bar.png') no-repeat;
}

.c-icon-chart-column
{
    background: transparent url('/Content/images/icon-chart-column.png') no-repeat;
}

.c-icon-chart-pie
{
    background: transparent url('/Content/images/icon-chart-pie.png') no-repeat;
}

.c-icon-chart-donut
{
    background: transparent url('/Content/images/icon-chart-donut.png') no-repeat;
}

.c-icon-chart-area
{
    background: transparent url('/Content/images/icon-chart-area.png') no-repeat;
}

.c-icon-chart-scatter
{
    background: transparent url('/Content/images/icon-chart-scatter.png') no-repeat;
}

.c-icon-chart-bubble
{
    background: transparent url('/Content/images/icon-chart-bubble.png') no-repeat;
}

#ulChartTypes li
{
    text-indent: 25px;
}

.chart-configuration label, 
.chart-configuration input, 
.chart-configuration select
{
    font-size: 12px;
}

.chart-configuration label
{
    width: 95px;
    display: inline-block;
}

.chart-configuration input[type=text], 
.chart-configuration select
{
    display: inline-block;
}

.chart-configuration .ui-tabs-panel 
{
    padding-bottom:10px;
}

.chart-configuration h3 a
{
    font-size: 15px;
    color: #008592;
}

ul.chart-options
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-table;
}

.exprcolumns ul
{
    list-style: none;
}
.exprcolumns input[type='radio']
{
    margin: 5px;
}
#expressionName
{
    width: 50%;
}
.chkFieldDiv input[type="checkbox"]
{
    width: 25px;
}
.chkFieldDiv label
{
    width: auto;
    display: inline-block;
}
.chkFieldDiv
{
    width: 45%;
    margin: 5px;
    display: inline-block;
}
select.direction
{
    width: 110px;
}

#conjunctionand, #conjunctionor, #openparenthesis, #closeparenthesis
{
    border: none;
    width: 40px;
    height: 25px;
    margin: 10px 10px 10px 0px;
}
.bracketmgmt
{
    font-size: 14px;
    font-weight: bold;
    color: rgb(85,49,13);
}
.bracketmgmt img
{
    padding-bottom: 1px;
}
.fCondDelete img, .bracketmgmt img
{
    height: 10px;
    width: 10px;
    padding-bottom: 10px;
}

#relatedEntitiesDiv
{
    font-size:12px;
}