﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" 
        type="text/javascript"></script>
    
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <h2><a href="/" title="Universal Music Group">

            @{
                string logoImage = null, theme = null;

                if (System.Threading.Thread.CurrentPrincipal.Identity != null && System.Threading.Thread.CurrentPrincipal.Identity.IsAuthenticated)
                {
                    var tenantSettings = HttpContext.Current.Items.Contains(CelloSaaS.Integration.Helpers.AppSettingHelpers.GetValue<string>(CelloSaaS.Integration.Helpers.AppSettingConstants.TenantSettingsKey))
                                            ? HttpContext.Current.Items[CelloSaaS.Integration.Helpers.AppSettingHelpers.GetValue<string>(CelloSaaS.Integration.Helpers.AppSettingConstants.TenantSettingsKey)] as Dictionary<string, string>
                                            : null;
                    var tenantDetails = HttpContext.Current.Items.Contains(CelloSaaS.Integration.Helpers.AppSettingHelpers.GetValue<string>(CelloSaaS.Integration.Helpers.AppSettingConstants.TenantDetails))
                                           ? HttpContext.Current.Items[CelloSaaS.Integration.Helpers.AppSettingHelpers.GetValue<string>(CelloSaaS.Integration.Helpers.AppSettingConstants.TenantDetails)] as Dictionary<string, string>
                                           : null;
                    if (tenantSettings != null && tenantSettings.Count > 0 && tenantSettings.ContainsKey("Logo"))
                    {
                        logoImage = tenantSettings["Logo"];
                    }
                    theme = tenantSettings.ContainsKey("Theme") ? tenantSettings["Theme"] as string : string.Empty;

                    if (!string.IsNullOrEmpty(theme))
                    {
                        theme = theme.ToLowerInvariant() + ".";
                    }
                }
                string adminAppUri = CelloSaaS.Integration.Helpers.AppSettingHelpers.GetValue<string>(CelloSaaS.Integration.Helpers.AppSettingConstants.AdminAppUri);
                string logoImagePath = adminAppUri + "LogoImageFolder/";
                logoImage = logoImage ?? (HttpContext.Current.Items.Contains("DefaultLogo") ? HttpContext.Current.Items["DefaultLogo"] as string : "cellosaas.svg");
                string logoFullPath = string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}{1}", logoImagePath, logoImage);

            }
            <link href="@Url.Content(string.Format("~/Content/{0}Site.css", theme))" rel="stylesheet"  type="text/css" />

            @Html.Raw("<img src='" + logoFullPath + "' alt='logo' />")
            <span>
                <br />
                Universal Music Group</span></a></h2>
        <ul id="navlist">
            @{
                
                switch(CelloSaaS.Integration.Helpers.MeteringHelper.MeteringAlert("Album"))
                {
                    case CelloSaaS.Integration.Helpers.MeteringHelper.MeteringAlertStatus.Normal:
                        break;
                        
                    case CelloSaaS.Integration.Helpers.MeteringHelper.MeteringAlertStatus.Error:
                        <li><a href="javascript:void();"><i style="color:red" class="fa fa-exclamation-circle">Album Limit Reached</i></a></li>
                        break;
                        
                    case CelloSaaS.Integration.Helpers.MeteringHelper.MeteringAlertStatus.Warning:
                        <li><a href="javascript:void();"><i style="color:#f0ad4e" class="fa fa-exclamation-triangle">
                            @{double balance=@CelloSaaS.Integration.Helpers.MeteringHelper.MeteringBalance("Album");
                              string album="Albums";
                              if (balance <= 1)
                              {
                                  album = "Album";
                              }
                              }
                              
                            @balance @album Only Remining</i></a></li>
                             
                        break;
                }
                if (System.Threading.Thread.CurrentPrincipal.Identity.IsAuthenticated)
                {
                <li><a href="javascript:void();"><span>Welcome : @User.Identity.Name</span></a></li>
                }                    
            }
            <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
            @{
                   if (User.IsInRole("GR$Tenant_Admin"))
                    {
                <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
              
               
                <li><a href="@Url.Content("~/Store/")">Store</a></li>
                <li><a href="@Url.Content("~/StoreManager/")">Admin</a></li>
            }

                if (System.Threading.Thread.CurrentPrincipal.Identity.IsAuthenticated)
                {
                <li><a href="@Url.Action("LogOff", "Account")">LogOut</a></li>
                    if (User.IsInRole("GR$Tenant_Admin"))
                    {
                <li><a href="@adminAppUri">Setup</a></li>
                    }
                }
            }
        </ul>
    </div>

    @{  if (User.IsInRole("GR$Tenant_Admin"))
                    {
            Html.RenderAction("GenreMenu", "Store");
        }
    }

    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        Powered by <a href="http://microgroove.com">MicroGroove</a>
    </div>
</body>
</html>
